[Unit]
Description=Pi-hole DNS
After=unbound.service
Wants=unbound.service

[Container]
Image=docker.io/pihole/pihole:2026.04.0
ContainerName=pihole
Network=host
AddCapability=SYS_NICE
Environment=TZ=America/New_York
Environment=FTLCONF_dns_upstreams=127.0.0.1#5335
Volume=/opt/pihole/etc-pihole:/etc/pihole

[Service]
Restart=always

[Install]
WantedBy=multi-user.target
