[Unit]
Description=unbound recursive DNS resolver

[Container]
Image=unbound.build
Network=host
ServiceName=unbound
Volume=/opt/pihole/unbound:/opt/unbound/etc/unbound:ro

[Service]
Restart=on-failure

[Install]
WantedBy=multi-user.target default.target
